 /*  GENERAL*/
 body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*header*/

    .banner
    {  
      width: 100%; 
    }
  
 /*navegador*/
 
  nav {
    background-color: #eaeaea;
    color: #190808;
    padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .searchForm {
  display: flex;
  align-items: center;
}

nav .searchForm input[type="text"] {
  padding: 14px 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

nav .searchForm button {
  padding: 14px 28px;
  background-color:#2395D3;;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnOrder {
  padding: 14px 28px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav .btn {
  margin-left: 10px;
}

nav .btn select {
  padding: 14px 28px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Titulo y subtítulo */
h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 3rem;
}

p {
  font-size: 25px;
  text-align: center;
}

.subtitle{ 
  font-size: 30px;
  color: #eee;
  text-align: center;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 10px 2px rgb(116, 111, 111);
  background-color:#2395D3;
}

#root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 50px;  
    font-size: 18px;
    flex-wrap: wrap;
}

#root img {
  width: 25em;
  height: 35em;
  margin: 15px; 
  border-radius: 4%;
  display: flex;
  box-shadow: 0px 0px 10px 2px rgb(116, 111, 111);
  flex-flow: column wrap;
  background-color: rgba(32, 30, 36);
  cursor: pointer;
  }

#root h2 {
    color: rgb(189, 186, 186);
    font-size: 1.5em;
    width: 90%;
    margin: auto;
    font-weight: bold;
    } 

#root p {
  color: #052e2f;
  width: 50vh;
  display: block;
  justify-content: flex-start;
  margin-left: 15px;
  font-size: 25px;
  text-align: center;
}

#root img:hover  {
    position: relative;
    box-shadow: 0px 0px 30px 10px  #78c5ee;;
    transition: .5s;
    bottom: 15px;
}
  
/* footer */
footer {
  background-color: #121313;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  align-items: center;
  margin-top: 20px;
  padding-top: 3px;
  position: sticky;
  z-index: 15;
}

.logobottom {
  margin-left: 15px;
}

.copyrighttext {
  text-align: center;
  text-shadow: slategrey;
  margin-top: 40px;
}

.socialfooter {
  display: flex;
  margin-right: 20px;
  list-style: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card {

}