/*  GENERAL*/
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*header*/
    .banner
    {  
      width: 100%;
    }
  
 /*navegador*/
 nav {
  color: #190808;
  display: flex;
  align-items: center;
}

nav form {
  display: inline-block;
}

input[type="text"] {
  width: 312px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid rgb(248, 248, 248);
  box-shadow: 0px 0px 5px 0px #48AEF0;
  padding: 0px 20px 0px 20px;
  background-color: rgba(251, 253, 253, 0.709);
  margin: 10px 2px 10px 10px;
  font-size: 1.3em;
  color: rgb(45, 25, 25);
  margin-bottom: 3px;
  text-align: center;
}

nav button[type="submit"] {
  width: 312px;
  height: 46px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  background-color: rgb(45, 25, 25);
  margin: 10px 2px 10px 10px;
  font-size: 1.3em;
  color: rgb(229, 229, 229);
  margin-bottom: 3px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.searchForm2
 {
  flex-grow: 1;
  width: 300px;
  height: 48px;
  background: rgb(45, 25, 25);
  box-shadow: 0px 0px 5px 1px rgb(229, 229, 229);
  border: 1px solid #48AEF0;
  color: rgb(229, 229, 229);
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 3px;
  padding: 0px 20px;
  text-align: center;
  font-size: 1.3em;
}

.btnStart {
  width: 50px;
  height: 60px;
  display: flex;
}


/* Titulo y subtítulo */
h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-size: 20px;
  text-align: center;
}

.subtitle{ 
  font-size: 25px;
  color: #eee;
  text-align: center;
  margin-bottom: 3rem;
  background-color:#48AEF0;
}
/* body*/
#root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 50px;  
    font-size: 18px;
    flex-wrap:wrap;
}

#root img {
  width: 25em;
  height: 35em;
  margin: 15px; 
  border-radius: 4%;
  display: flex;
  box-shadow: 0px 0px 10px 2px rgb(116, 111, 111);
  flex-flow: column wrap;
  background-color: rgba(32, 30, 36);
  cursor: pointer;
  }

  .card{
  border:#48AEF0;
  }
#root h2 {
    color: rgb(189, 186, 186);
    font-size: 1.5em;
    width: 90%;
    margin: auto;
    font-weight: bold;
    } 

#root p {
  color: #052e2f;
  width: 50vh;
  display: block;
  justify-content: flex-start;
  margin-left: 15px;
  font-size: 25px;
  text-align: center;
}

#root img:hover  {
  background-color: rgba(105, 9, 202, 0.484);
  box-shadow: 8px 8px 8px #3308677b;
  animation: card 1s ease-in-out infinite alternate;
  -webkit-animation: card 1s ease-in-out infinite alternate;
}
  
/* footer */
footer {
  background-color: #121313;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  align-items: center;
  margin-top: 20px;
  padding-top: 3px;
  position: sticky;
  z-index: 15;
}

.logobottom {
  margin-left: 15px;
}

.copyrighttext {
  text-align: center;
  text-shadow: slategrey;
  margin-top: 40px;
}

.socialfooter {
  display: flex;
  margin-right: 20px;
  list-style: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


