/*  GENERAL*/
*{ 
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*header*/
.banner {  
  width: 100%;
}
  
 /*navegador*/
 nav {
  color: #190808;
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 312px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid rgb(248, 248, 248);
  box-shadow: 0px 0px 5px 0px #48AEF0;
  padding: 0px 20px 0px 20px;
  background-color: rgba(251, 253, 253, 0.709);
  margin: 10px 2px 10px 10px;
  font-size: 1.3em;
  color: rgb(45, 25, 25);
  margin-bottom: 3px;
  text-align: center;
}

.searchForm2
 {
  width: 312px;
  height: 36px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  background-color: #48aef0;
  margin: 10px 2px 10px 10px;
  font-size: 1.3em;
  color: #eee;
  margin-bottom: 3px;
  text-align: center;
  border: 1px solid rgb(248, 248, 248);
  box-shadow: 0px 0px 3px 0px rgb(185, 178, 178);
  }

.btnStart {
  width: 50px;
  height: 60px;
  display: flex;
}

/* Titulo y subtítulo */
h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
  margin: 20px;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.subtitle{ 
  font-size: 25px;
  color: #eee;
  text-align: center;
  margin-bottom: 3rem;
  background-color:#48AEF0;
}
/* body*/

img {
  width: 80%;
  height: auto;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #48AEF0;
  box-shadow: 2px 2px #48AEF0;
  width: 300px;
  border-radius: 30px;
  padding: 3em 2.5em;
  gap:1em;
  place-items: center;

}

.card h2 {
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.card p {
  font-size: 1rem;
  margin: 10px;
  text-align: justify;
}

.card img:hover  {
  position: relative;
  box-shadow: 0px 0px 30px 10px #a9d8f8;;
  transition: .5s;
  bottom: 15px;
}

/*Estilos de estadistica*/
.articleContenedor{
  display: flex;
  position: relative;
  font-size: 18px;
}

.h2TitleFirst{
  position: absolute;
  right: 700px;
    top: -51px;
  margin: 30px;
}

.divGender, .divCharacters, .divAverage{
  width: 35%;
  height: 48%;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #48AEF0;
  box-shadow: 2px 2px #48AEF0;
  border-radius: 30px;
  padding: 45px;
  background-color: white;
  font-weight: 700; 
}

/* footer */
footer {
  background-color: #121313;
  display: flex;
  color: white;
  align-items: center;
  width: 100%;
}

.logobottom {
  margin-left: 755px;
  width: 4%;
  height: auto;
}

.copyright {
  justify-content: center;
  right: 700px;
  text-shadow: slategrey;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}

